.first {
	background:url("f.jpg");
	color: white;
	font-size: 15pt;
}

.second {
	background:url("S.jpg");
	color: green;
	font-size: 15pt;
}
.third {
	background:url("t.jpg");
	color: red;
	font-size: 15pt;
}